.game {
  font-family: sans-serif;

  &__title {
    text-align: center;
  }

  &__form {
    text-align: center;
    margin: 0 auto;

    &__input {
      display: inline-block;
      background-color: #ffffff;
      padding: 5px 10px;
      border-radius: 3px;
      border: 1px solid #ccc;
      outline: none;

      &_select {
        cursor: pointer;
      }

      &_button {
        margin-left: 5px;
        cursor: pointer;

        &:hover {
          background-color: darken(white, 5%);
        }
      }
    }
  }


  &__board {
    margin-top: 40px;
    text-align: center;
    user-select: none;
  }

  &__time {
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: center;

    .current {
      margin-right: 5px;
    }

    .high-score {
      margin-left: 5px;
    }
  }
}
